<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<a href="/logOut">Log Out</a>
	<br>
	<h4>Hello {{user.firstname}} ! Make a Wish !</h4>
	<h5>
		{% if messages %}
			{% for message in messages %}
				*{{ message }}<br>
			{% endfor %}
		{% endif %}
	</h5>
	<form id="register-form" action="makeWish" method="post" role="form" style="width: 400px;">
		{% csrf_token %}
		<div class="form-group" style="width: 400px;">
			<label>Wish:</label>
			<input type="text" name="item" id="item" class="form-control" placeholder="item" value="">
		</div>
		<div class="form-group">
			<label>Description:</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" id="description"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" value="Make a wish">
		</div>
	</form>
		<form action="/wishes"><input type="submit" value="Cancel"/></form>
</body>
</html>